/* IMPOSTAZIONI GENERALI */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-image: url(https://i.ibb.co/tL0djJ8/sfondo.png);
    background-repeat: repeat-y;
    margin: 0;
    padding: 0;
}

.divflex {
    display: flex;
}

h1 {
    font-size: 2em;
    font-weight: 600;
}

h2 {
    text-align: center;
    font-weight: 600;
}

/* HEADER */

header {
    margin: 5vh 5vw 0 5vw;
    padding: 5vh 3vw 2.5vh 3vw;
    background-image: linear-gradient(#01AACD, #006688);
    text-align: center;
    box-shadow: 0px 2px 5px 0px #383838;
}

header p {
    margin-top: 3vh;
}

header ul {
    padding: 0;
}

header p, header li, header a:active, header a:hover, header a:link, header a:visited {
    list-style: none;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1.1em;
}

/* MAIN */

main {
    margin: 5vh 5vw 0 5vw;
    padding: 0.3vh 5vw 30px 5vw;
    background-color: white;
    box-shadow: 0px 2px 5px 0px #383838;
}

footer a:link, a:hover, a:visited, a:active {
    color: #FF00FE;
}

main a:active, a:hover, a:link, a:visited {
    color: #0099CC;
}

/* ELEMENTI NEL MAIN - ARTICLE */

.graytext {
    color: darkgrey;
}

.keywords {
    color: #AA2072;
}

.codewords {
    background-color: #EEDDE0;
    border-radius: 4px;
    border: 1px solid #908E8F;
}

#iframeyt {
    border-radius: 25px;
}

/* TABELLE */

table {
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #3366CC;
    border-collapse: collapse;
}

caption {
    font-style: italic;
    font-weight: 600;
}

th {
    color: white;
    background-color: #3366CC;
    font-weight: 400;
    padding: 10px 0;
}

tr:nth-child(odd) {
    background-color: #EEEEEE;
}

td {
    padding: 10px 0;
}

/* FORM */

form {
    background-color: #EEDDE0;
    margin-top: 30px;
    padding: 5px 7vw;
}

fieldset {
    border: none;
    text-align: center;
}

fieldset input, fieldset button {
    text-align: center;
}

input {
    padding: 5px 5px 5px 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px dotted black;
}

button {
    background-color: #3366CC;
    color: white;
    border: none;
    padding: 5px 10px 5px 10px;
}

/* ELEMENTI NELL' ASIDE */

.articolicorr {
    background-color: #EEDDE0;
    border: 1px solid #908E8F;
    padding: 2vh 3vw 0 3vw;
    margin-bottom: 2vh;
}

.artcorrdata {
    display: flex;
    justify-content: right;
}

/* FOOTER */

footer {
    margin: 3vh 5vw 3vh 5vw;
    padding: 1vh 3vw 2.5vh 3vw;
    background-image: linear-gradient(#01AACD, #006688);
    box-shadow: 0px 2px 5px 0px #383838;
    text-align: center;
    color: white;
}

footer address {
    font-style: normal;
}
